<nav id="menu">
  <div class="d-flex justify-content-between" id="menuBar">
    <img src="/images/logo.svg"></img>
    <button class="btn nav" type="button" data-toggle="collapse" data-target="#collapseMenu" aria-expanded="false">
      <img src="/images/more_horiz-24px.svg" id="more"></img>
    </button>
  </div>
  <div class="container-fluid collapse" id="collapseMenu">
      <ul class="nav flex-column">
          <li class="nav-item">
              <a class="nav-link" href="/">Inicio</a>
              <a class="nav-link" href="/login">Acceso a usuarios</a>
              <a class="nav-link" href="/seguro_de_viaje">Seguro de Viaje</a>
          </li>
      </ul>
  </div>
</nav>